<section class="event-section">
                <h2>Eventos Pasados</h2>
                <div class="events past-events">
                    <article class="event">
                        <div class="event-date">
                            <span class="event-day">02</span>
                            <span class="event-month">Abr</span>
                        </div>
                        <h3>Noche de Karaoke</h3>
                        <p>Para un ambiente más relajado y divertido, puedes organizar una noche de karaoke en la que los clientes puedan mostrar su talento o simplemente divertirse.</p>
                        <p class="event-full-date">02 de abril de 2025</p>
                    </article>
                </div>
            </section>