<section class="event-section">
                <h2>Próximos Eventos</h2>
                <div class="events upcoming-events">
                    <!-- Eventos próximos -->
                    <article class="event">
                        <div class="event-date">
                            <span class="event-day">05</span>
                            <span class="event-month">May</span>
                        </div>
                        <h3>Noches Temáticas</h3>
                        <p>Cada semana, organiza una noche temática como "Noche Mexicana", "Cena Italiana" o "Sabores del Mar", en la que se destaque un tipo de cocina o ingredientes específicos. Esto puede incluir decoraciones y música que complementen la temática.</p>
                        <p class="event-full-date">05 de mayo de 2024</p>
                    </article>
                    <article class="event">
                        <div class="event-date">
                            <span class="event-day">17</span>
                            <span class="event-month">Jun</span>
                        </div>
                        <h3>Cena Romántica</h3>
                        <p>Ofrece un paquete especial para cenas románticas, ideal para parejas que quieran celebrar aniversarios, fechas especiales, o simplemente disfrutar de una noche íntima. Puedes incluir una decoración especial, música en vivo, y un menú de degustación para dos.</p>
                        <p class="event-full-date">17 de Junio de 2024</p>
                    </article>
                    <article class="event">
                        <div class="event-date">
                            <span class="event-day">01</span>
                            <span class="event-month">Jul</span>
                        </div>
                        <h3>Eventos de Música en Vivo</h3>
                        <p>Invita a músicos locales para ofrecer conciertos en vivo en ciertas noches de la semana, creando un ambiente especial para los comensales.</p>
                        <p class="event-full-date">01 de Julio de 2024</p>
                    </article>
                    <article class="event">
                        <div class="event-date">
                            <span class="event-day">01</span>
                            <span class="event-month">Jul</span>
                        </div>
                        <h3>Cata de Vinos y Maridaje</h3>
                        <p>Organiza una noche de cata de vinos, en la que los clientes puedan degustar diferentes vinos junto con recomendaciones de maridaje de platos del restaurante. Un sommelier o experto en vinos podría dirigir la cata.</p>
                        <p class="event-full-date">01 de Julio de 2024</p>
                    </article>
                    <article class="event">
                        <div class="event-date">
                            <span class="event-day">01</span>
                            <span class="event-month">Jul</span>
                        </div>
                        <h3>Tarde Familiar</h3>
                        <p>Un evento especial los domingos con actividades para niños, como pinta-caritas o manualidades. Además, podrías ofrecer descuentos para familias o menús especiales para niños.</p>
                        <p class="event-full-date">01 de Julio de 2024</p>
                    </article>
                    <article class="event">
                        <div class="event-date">
                            <span class="event-day">01</span>
                            <span class="event-month">Jul</span>
                        </div>
                        <h3>Torneos de Trivia o Juegos de Mesa</h3>
                        <p>Una noche de juegos en la que los clientes puedan participar en torneos de trivia o juegos de mesa. Esto fomenta la participación de grupos de amigos y familias.</p>
                        <p class="event-full-date">01 de Julio de 2024</p>
                    </article>
                </div>
            </section>