<header>
    <div class="div_nav">
        <figure class="brand">
            <a href="../index.html"><img class="logo_nav" src="../img/fondo_blanco.jpg" alt="logo"></a>
        </figure>
        <nav class="menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><img src="../img/menu.png" alt="menu"></label>
            <ul>
                <li><a href="../pages/nosotros.html">Nosotros</a></li>
                <li><a href="../pages/gallery.html">Galeria Fotos</a></li>
                <li><a href="../pages/contactenos.html">Contacto</a></li>
                <li><a href="../pages/preguntas.html">FAQ</a></li>
                <li><a href="../pages/events.html">Eventos</a></li>
                <!--<li><a href="../pages/donar.html">Donar</a></li>-->
            </ul>
        </nav>
    </div>
</header>